/* assets/stylesheets/style.css */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url("../images/mount_fuji.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    background-repeat:repeat-x;
    background-attachment:fixed;
    overflow: hidden;
}

section {
    display: none;
}

section.visible {
    display: block;
}

button.round {
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
}

.titleText {
    opacity: 0;
    animation: fadeIn 4s forwards;
}

.Text {
    width: 90vw;
    color: white;
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.Text p {
    font-size: 1.5rem;
    margin-top: 10px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

button.rectangle{
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 100px;
    height: 40px;
    font-size: 1.2rem;
    transition: transform 0.3s;  
}

:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
}

/* <select> styles */
select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: black;
    cursor: pointer;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
    /* Remove focus outline */
    &:focus {
        outline: none;
    }
    /* <option> colors */
    option {
        color: inherit;
        background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    }
}

input{
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 5rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--select-bg);
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: text;
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
    /* Remove focus outline */
    &:focus {
        outline: none;
    }
}
label{
    padding-left: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}