#flipbook {
    display: none; /* 初期状態で非表示 */
    width: 800px;
    height: 600px;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
}

#flipbook .hard {
    height: 100%; /* コンテナ全体の高さに対応 */
    z-index: 100;
    background: #333;
    color: #fff;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flipbook .page {
    height: 100%; /* コンテナ全体の高さに対応 */
    z-index: 100;
    border: 3px solid #ccc; /* ページの枠線 */
    background: #f0f0f0;
    color: #333;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flipbook p{
    font-size: 20px;
    text-align: left;
    line-height: 150%;
    padding: 20px;
}

.page-number {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    color: #666;
}

.left-number {
    left: 20px;
}

.right-number {
    right: 20px;
}

#map1{ height: 100%; width: 100%}
#map2{ height: 100%; width: 100%}

